@import url("https://use.typekit.net/dgr3vqv.css");

::selection
{
  background-color:   #09f9;
}

body::-webkit-scrollbar 
{
  display: none;
}

html, body
{
  -ms-overflow-style: none; 
  scrollbar-width:    none; 
  height:             100vh;
  color:              #fff;
  background-color:   #0D1117;
  font-family:        franklin-gothic-atf, sans-serif;
  font-weight:        400;
  font-size:          13px;
}

#root
{
  height: 100%;
}

a
{
  color:              #bbb !important;
  text-decoration:    none !important;
}

a:hover
{
  color:              #fff !important;
  text-decoration:    none !important;
}

.btn:focus ,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.FForm div
{
  width: 100%; 
}

.FFormInput
{
  text-align: left;
  color: #fff;
  background-color: #0000;
  border: 2px solid #555;
  border-radius: 6px;
  padding: 4px 6px;
  margin: 0;
}

input:focus
{
  border: 2px solid #f00;
}

.fborder
{
  border: 2px solid #555;
  border-radius: 6px;
}

.ffs-1
{
  font-size: 36px; 
}

.ffs-2
{
  font-size: 21px; 
}

.ffs-3
{
  font-size: 17px; 
}

.ffs-4
{
  font-size: 14px; 
}

.ffw-1
{
  font-weight: 700;
}

.ffw-2
{
  font-weight: 500;
}

.ffw-3
{
  font-weight: 400;
}

.rgb-1
{
  color: #fff;
}

.rgb-2
{
  color: #bbb;
}

.rgb-bg-2
{
  background-color:   #0D1117;
}

.rgb-bg-1
{
  background-color:   #10161D;
}

.rgb-bg-gr
{
  background: rgb(0,0,43);
  background: linear-gradient(200deg, rgba(0,0,43,1) 0%, rgba(11,159,189,1) 100%);
}

.rgb-bg-tr
{
  background-color:   #0000;
}

.rgb-bg-solid
{
  background-color:   #7C4DFF;
}

.rgb-alert
{
  color: #f33;
}

.hover-bg-dark:hover
{
  background-color: #1F2836;
}

.hover-bg-solid:hover
{
  background-color:   #653add;
}

ul>button{
  background-color: transparent;
  border: none;
  color: #BBBBBB;
}